body {
    background-color: #f8f9fa;
  }
  
  .carousel {
    margin-bottom: 40px;
  }
  
  .carousel-item img {
    max-height: 500px;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
  }
  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #555;
  }
  